# Data
data/*.csv
data/*.zip

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Outputs
outputs/
*.pkl
*.joblib

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
